body {
  margin: 12rem;
  color: rgb(237, 237, 237);
  font-family: "Orbitron", sans-serif;
}

.container {
  margin: 0 auto;
  width: fit-content;
  max-width: 260px;
  padding: 4rem 2rem;
  border: 1px solid black;
  background: rgb(50, 49, 49);
  border-radius: 1rem;
}

.display {
  padding: 1rem;
  border: 1px solid black;
  margin-bottom: 1rem;
  text-align: right;
  font-size: 1.5rem;
  background: rgb(73, 91, 70);
}

.keypad {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}

.num-button,
.op-button,
.ac-button,
.calc-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  background: rgb(56, 56, 59);
  cursor: pointer;
  border-radius: 50%;
}

.calc-button {
  background-color: rgb(194, 117, 28);
}

.num-button:hover,
.op-button:hover,
.ac-button:hover,
.calc-button:hover {
  opacity: 0.8;
}

.row {
  display: flex;
  gap: 0.8rem;
}
